<mat-card class="example-card mt-4">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Koen Cobra</mat-card-title>
    <mat-card-subtitle>koen@test.be</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <div matLine>
          Mobile number
          <button mat-button>+12345689</button>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
