<div class="logo text-center">
  <img src="assets/gymlogo.png" width="300px" alt="" />
</div>

<div class="regsitration-from m-3 p-4">
  <form>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input matInput />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Mobile number</mat-label>
          <input matInput />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Weight</mat-label>
          <input type="number" matInput formControlName="weight" />
          <mat-icon matSuffix>line_weight</mat-icon>
          <mat-hint>Unit is KGs</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Height</mat-label>
          <input type="number" matInput formControlName="height" />
          <mat-icon matSuffix><i class="fa fa-text-height"></i></mat-icon>
          <mat-hint>Unit is meters</mat-hint>
        </mat-form-field>
      </div>
      <!-- test -->
    </div>
  </form>
</div>
